@tailwind base;
@tailwind components;
@tailwind utilities;

body {
}

/* ------------- Customized scrollbar  ------------ */

label {
  user-select: none;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

:-webkit-scrollbar-track {
  background: #f3f4f6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 10px;
}

.table-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.table-scrollbar:-webkit-scrollbar-track {
  background: #f3f4f6;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
  background: #a3a3a3;
  border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}





/* gradient border --------------> */
.orange-gradient-border {
  position: relative;
  border-radius: 4px;
  border: none;
  background: transparent;
  z-index: 1;
  color: white;
}

.orange-gradient-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(
    59.22deg,
    #e33556 -44.44%,
    #e9514b -34.37%,
    #ec5d47 -24.3%,
    #ef6a43 -14.23%,
    #f37b3e -3.39%,
    #f2a144 8.23%,
    #ebad52 39.21%,
    #e9b055 54.7%,
    #dbca73 69.42%,
    #cfe08f 85.69%,
    #c0faae 99.63%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
